@font-face {
  font-family: pixeltype;
  src: url(MSGothicPixel.ttf);
}

/*---ROOT & BODY---*/
:root {
    --bg: black;
    --txt: white;
    --outline: black;
    --maintxt: white;
    --other:   white;
    --refd: red;
  }
body {
  background-image: url("https://preview.redd.it/c3du8b2ttoo51.png?auto=webp&s=436d95c8601206d52599b26cf7125a77f0dffe0a");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100%;
    /*background: url(noise.png) gray fixed;
  background-size: 2px;*/
	font-family: "MS Gothic";
  margin: 0;

  font-smooth: never;
-webkit-font-smoothing : none;
image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
image-rendering: -moz-crisp-edges;          /* Firefox                        */
image-rendering: -o-crisp-edges;            /* Opera                          */
image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
image-rendering: pixelated;                 /* Universal support since 2021   */
image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/*---SCROLLBAR---*/
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: var(--bg); 
}
::-webkit-scrollbar-thumb {
  background: var(--other); 
}


hr {
  border: solid var(--outline);
  border-width: 1px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

/*---ANCHOR---*/
a {
  color: red;
}
a:hover { 
  background-color: var(--txt);
}
a:has(img):hover {
  background-color: transparent;
}

a:active, a:visited {
  color: red;
}


/*---TEXT---*/
p {
  line-height: 1.3em;
}
h1, h2, h3, h4, h5 {
  font-family: monospace;
  color: var(--txt);
}
h1 {
  color: var(--maintxt);
}

/*---CONTAINER & CONTENT---*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 45%;
  color: var(--txt);
}
@media screen and (max-width: 800px) {
  #container {   
    max-width: 99%;
  }
}
#content {
  padding: 10px 5% 20px 5%;
  border-style: solid;
  border-width: 1px;
  background-color: var(--bg);
  z-index: 1;
  margin-bottom: 3vh;
}



/*---HEADER---*/
#header {
  margin-bottom: 2vh;
}
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0.2em 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--txt);
  background-color: var(--bg);
  box-shadow: 0 0.6em var(--bg);
  padding: 5px;
  width: calc(82% / 6);
  text-align: center;

  position: relative;
  top: 0;
  transition: all 100ms ease-in-out;

}
#header li a {
  color: var(--txt);
  text-decoration: none;
  background-color: inherit;
}
#header li a:hover {
  text-decoration: underline;
}

#header li:hover {
  top: 0.2em;
  box-shadow: 0 0.4em var(--bg);
}

/*--FOOTER STYLE--*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  text-align: center;
  color: var(--txt);
  background-color: var(--bg);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 3vh;
}

/*---DETAILS & SUMMARY---*/
details {
  user-select: none;
  margin-bottom: 15px;
}
details summary span.icon {
  transform: rotate(0deg);
}
details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}
details[open] summary span.icon {
  transform: rotate(90deg);
}
summary {
  display: flex;
  cursor: pointer;
  color: var(--maintxt);
  font-size: 26px;
}
summary::-webkit-details-marker {
  display: none;
}

/*---HEAD IMG/TEXT---*/
#headimg {
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: var(--bg);
  border-style: solid;
  border-width: 1px;
  height: 15vh;
  display:inline-flex;
  align-items:center;
}
#headimg h1 {
  font-size: 5em;
  margin: 0;
    color: var(--txt);
    margin-left: auto;
    margin-right: auto;
  font-family: scan;
}
#headimg pre {
  margin: 0;
    margin-left: auto;
    margin-right: auto;
}
#headimg img {
  height: 90%;
}

/*---TABLE---*/
td{
  border:1px solid var(--outline);
  padding: 10px;
}
td {
width: 30px;
height: 30px;
}

/*---SPAN---*/
span {
  color: var(--maintxt);
}
.spwht {
  color: var(--txt);
}

/*---AUDIO PLAYER---*/
.audio-player {
  width: 100%;
  margin: auto;
}
.audio-player .player-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio-player #playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: url('playbutton.png') no-repeat center;
  background-size: contain;
}
.audio-player #playAudio.pause {
  background: url('pausebutton.png') no-repeat center;
  background-size: contain;
}
.audio-player p {
  margin: 0 0 0 5px;
  line-height: 1;
  display: inline-flex;
}
.audio-player p small {
  font-size: 10px;
}
.audio-player #seekObjContainer {
  position: relative;
  width: 300px;
  margin: 0 5px;
  height: 5px;
}
.audio-player #seekObjContainer #seekObj {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}
.audio-player #seekObjContainer #seekObj #percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--refd);
}


*:not(#header) {
  border-color: white;
}
pre {
  font-family: Ms Gothic;
  white-space: pre-wrap;
}
#headimg {
  font-family: monospace;
}