
  .home-desc {
    display: none;
  }
  
.HCB_comment_box {
  font-family: monospace;
}

.hcb-shadow-r {
background-color: #0f0;
}

#HCB_comment_box #hcb_form_content,
  #HCB_comment_box #hcb_form_email,
  #HCB_comment_box #hcb_form_name,
  #HCB_comment_box #hcb_form_website {
    background-color:#000;
    border-radius: 0px;
        font-family: monospace;
    font-size: 20px;
  }

  #hcb_submit
 #hcb_file_label {
    border-radius: 0px;
        font-family: monospace;
    font-size: 20px;
}

#HCB_comment_box {
    font-family: monospace;
    font-size: 20px;
}





